|===
|Response | Response Name | Response Commands
#set respNum = 1
#for response in $responseList
| $respNum | $response |
#for cmd in $commandList[$respNum - 1][$response]
$cmd +
#end for
#set respNum = respNum + 1
#end for
|===